body {
    background-color: #fefefe
}

header {
    width: 100%;
    height: 100px;
    background: #000000;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

li img {
    max-width: 20%;
}

.cabPrincipal {
    padding-right: 4%;
    color: aliceblue;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;
}

.contato {
    padding-right: 8%;
}

section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
}

section h1{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding-top: 44px;

}

section input{
    font-size: 30px;
    border-radius: 40px;
    background-color:lavender;
    justify-items: center;
    padding: 0 5%;
}
